.env
venv/
.venv/
temp/
media
.idea
backend/app/uploads/
backend/.flaskenv/
backend/migrations/
backend/__pycache__
backend/app/__pycache__
backend/app/api/__pycache__
backend/app/services/__pycache__